<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hueberry | Login</title>
  <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
  <div>
    <a href="/">
      <img src="/img/icons/cancel.svg" alt="Cancel" class="cancel-icon">
    </a>
    <div class="header">
      <p>WELCOME BACK<p>
      <img src="/img/icons/login.svg" alt="Login icon" id="login-icon">
      <h2>Log in to Your Account</h2>
    </div>
    
    <p>Log in to start organizing your creative universe.</p>

    <form action="/auth/login" method="POST">
      <div>
        <div>
          <label for="username">Username</label>
          <input id="username" name="username" type="text" required placeholder="e.g. capybara0124">
        </div>
        <div>
          <label for="password">Password</label>
          <input id="password" name="password" type="password" required>
        </div>
      </div>

      <div>
        <button id="login-btn" type="submit">Log In</button>
      </div>
    </form>
    
    <div class="link-container">
      Don't have an account? <a href="/auth/register">Sign up and get started!</a>
    </div>
  </div>
</body>
</html>
