<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hueberry | Login</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div>
    <div>
      <p>WELCOME BACK<p>
      <!-- TODO: add log in icon here -->
      <h2>Log in to Your Account</h2>
    </div>
    
    <p>Log in to start organizing your creative universe</p>

    <form action="/auth/login" method="POST">
      <div>
        <div>
          <label for="username">Username</label>
          <input id="username" name="username" type="text" required placeholder="e.g. capybara0124">
        </div>
        <div>
          <label for="password">Password</label>
          <input id="password" name="password" type="password" required>
        </div>
      </div>

      <div>
        <button type="submit">Log In</button>
      </div>
    </form>
    
    <div>
      Don't have an account? <a href="/auth/register">Sign up and get started!</a>
    </div>
  </div>
</body>
</html>