<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hueberry | Sign Up</title>
  <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
  <div>
    <a href="/" class="cancel-link">
      <img src="/img/icons/cancel.svg" alt="Cancel" class="cancel-icon">
    </a>
    <div class="header">
      <p>NICE TO MEET YOU<p>
      <img src="/img/icons/hueberry.svg" alt="App logo" id="app-icon">
      <h2>Join Hueberry</h2>
    </div>
    
    <p>Create an account to start organizing your creative universe.</p>

    <form action="/auth/register" method="POST">
      <div>
        <div class="name-row">
          <div class="name-field">
            <label for="firstName">First Name</label>
            <input id="firstName" name="firstName" type="text" required placeholder="Capybara" value="<%= locals.firstName || '' %>">
          </div>
          <div class="name-field">
            <label for="lastName">Last Name</label>
            <input id="lastName" name="lastName" type="text" required placeholder="Nguyen" value="<%= locals.lastName || '' %>">
          </div>
        </div>
        <div>
          <label for="username">Username</label>
          <input id="username" name="username" type="text" required placeholder="e.g. capybara0124" value="<%= locals.username || '' %>">
        </div>
        <div>
          <label for="password">Password</label>
          <input id="password" name="password" type="password" required>
        </div>
      </div>

      <div>
        <button type="submit">Sign Up</button>
      </div>
    </form>
    
    <div class="link-container">
      Already a member?<a href="/auth/login"> Log in here!</a>
    </div>
  </div>
</body>
</html>
