<nav>
  <div class="nav-container">
    <div class="nav-left">
      <div id="nav-logo">
        <h1>Hueberry</h1>
      </div>
      <div class="nav-links">
        <a href="/dashboard">Home</a>
        <a href="/projects">Projects</a>
        <a href="/assets">My Visuals</a>
        <a href="/assets/upload" id="upload">Upload</a>
      </div>
    </div>

    <div class="nav-right">
      <div>
        <form action="" method="GET">
          <input type="text" name="query" placeholder="Search visuals..." id="search-bar"/>
        </form>
      </div>
      <div>
        <button><img src="/img/icons/noti.svg" alt="Notification icon"></button>
      </div>
      <div>
        <button id="user-menu-button">
          <a href="/auth/logout"><img src="/img/icons/user.svg" alt="User icon"></a>
        </button>
      </div>
    </div>
  </div>
</nav>
