<nav>
  <div class="nav-container">
    <div class="nav-left">
      <div id="nav-logo">
        <h1 style="font-size: 1.8rem;">Hueberry</h1>
      </div>
      <div class="nav-links">
        <a href="/dashboard">Home</a>
        <a href="/projects">Projects</a>
        <a href="/assets">My Visuals</a>
        <a href="/assets/upload" id="upload">Upload</a>
      </div>
    </div>

    <div class="nav-right">
      <div>
        <form action="/assets/search" method="GET">
          <input type="text" name="query" placeholder="Search visuals by tags..." id="search-bar"/>
        </form>
      </div>
      <div>
        <button><img src="/img/icons/noti.svg" alt="Notification icon"></button>
      </div>
      <div class="user-menu-container">
        <button id="user-menu-button">
          <img src="/img/icons/user.svg" alt="User icon">
        </button>
        <div id="user-dropdown" style="display: none;">
          <ul class="dropdown-menu">
            <li><a href="/dashboard">Home</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="">Settings</a></li>
            <li class="dropdown-divider"></li>
            <li><a href="/auth/logout">Log Out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
