<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hueberry | Dashboard</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('partials/header') %>
  
  <div class="dashboard-projects">
    <div>
      <h2>Projects</h2>
      <!-- TODO: 3 recent projects -->
    </div>
    <div>
      <button>Create a project</button>
      <button>View all projects</button>
    </div>
  </div>

  <div class="dashboard-others">
    <div>
      <h2>Recent Uploads</h2>
      <!-- TODO: 3 recent uploads -->
      <button>View all uploads</button>
    </div>
    <div>
      <h2>Notifications</h2>
      <!-- TODO: 3 recent notifications -->
      <button>View all notifications</button>
    </div>
    <div>
      <h2>Analytics</h2>
      <div>
        <div>Total Projects</div>
        <div>Total Assets Uploaded</div>
        <div>Most Active Project</div>
        <div>Trending Colors</div>
      </div>
    </div>
  </div>

  <script src="/js/main.js"></script>
</body>
</html>