<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hueberry</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/landing.css">
  </head>
  <body>
    <header>
      <nav>
        <div class="left-nav">
          <div class="logo-container">
            <h1>Hueberry</h1>
          </div>
          <div class="left-links">
            <a href="https://github.com/quandaworld/hueberry" target="_blank">GitHub Repo</a>
            <a href="https://quannguyendev.com" target="_blank">About the Creator</a>
          </div>
        </div>
        <div class="auth-links">
          <div>
            <a href="/auth/login">Log In</a>
            <a href="/auth/register">Sign Up</a>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section>
        <div class="left-section">
          <h2>Bring your creative world into <span style="color: #f59e0b;">focus</span></h2>
          <p>Organize design assets, extract color palettes, and maintain visual consistency, all in one place where your team's creativity can truly shine.</p>
          <a href="/auth/register">Start for Free</a>
        </div>
        
        <div class="right-section">
          <img src="/img/screenshots/appDemo.png" alt="App">
        </div>
      </section>
    </main>

    <%- include('partials/footer') %>

    <script src="/js/main.js"></script>
  </body>
</html>
