@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --border-color: #082f49;
  --font-color: #082f49;
  --background-color: #e5e7eb;
  --accent-color: #facc15;
  --button-hover: #f59e0b;
}

/* Form container styling */
.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5rem;
  background-color: white;
  border-radius: 12px;
  padding: 1.5rem 3.5rem;
  position: relative;
  max-height: calc(100vh - 170px);
}

.form-header {
  width: 100%;
}

.form-header h2 {
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

.form-content {
  flex: 1;
}

.image-actions-container {
  width: 55%;
  display: flex;
  flex-direction: column;
}

.project-demo {
  width: 100%;
  height: auto;
  border-radius: 8px;
  border: 2px solid var(--border-color);
  border-bottom: 5px solid var(--border-color);
  margin-bottom: 1.5rem;
}

.project-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-right: 4rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-control {
  padding: 0.8rem 1rem;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
  font-family: "Quicksand", sans-serif;
}

.form-control::placeholder {
  color: #9CA3AF;
  font-weight: 400;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

#projectDescription {
  height: 200px;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
}

.btn-primary {
  background-color: var(--accent-color);
  color: var(--font-color);
  border: 2px solid var(--border-color);
  border-bottom: 5px solid var(--border-color);
}

.btn-primary:hover {
  background-color: var(--button-hover);
  transform: translateY(-2px);
}

.btn-primary:active {
  transform: translateY(0);
  border-bottom-width: 2px;
}

.btn-secondary {
  background-color: white;
  color: var(--font-color);
  border: 2px solid var(--border-color);
  border-bottom: 5px solid var(--border-color);
}

.btn-secondary:hover {
  background-color: #F3F4F6;
  transform: translateY(-2px);
}

.btn-secondary:active {
  transform: translateY(0);
  border-bottom-width: 2px;
}

/* Responsive adjustments for form */
@media (max-width: 768px) {
  .form-container {
    flex-direction: column;
  }
  
  .form-content,
  .image-actions-container {
    width: 100%;
  }
  
  .project-demo {
    max-width: 100%;
    margin-top: 1.5rem;
  }
}
